<div class="catalog-detail__img">
    <img src="img/@@img.webp" alt="">
</div>
<div class="catalog-detail__desc">@@title</div>
<div class="catalog-detail__bottom">
    <div class="catalog-detail__info">
        <div class="catalog-detail__price">
            <i class="catalog-detail__price-icon">
                <img src="img/rouble.svg" alt="">
            </i>
            <div class="catalog-detail__price-text">
                от <span>300</span> р.
            </div>
        </div>
        <div class="catalog-detail__price">
            <i class="catalog-detail__price-icon">
                <img src="img/clock.svg" alt="">
            </i>
            <div class="catalog-detail__price-text">
                <span>1</span> час.
            </div>
        </div>
    </div>
    <a href="" class="catalog-detail__link mbtn">подробнее</a>
</div>