<footer class='footer'>
    <div class='container'>
        <div class='footer__inner'>
            <div class="footer__col">
                <div class="footer__title">мы в соц.сетях</div>
                <div class="footer__socials">
                    <a href="" class="footer__socials-item">
                        <img src="img/vk2.png" alt="">
                    </a>
                    <a href="" class="footer__socials-item">
                        <img src="img/instagram2.png" alt="">
                    </a>
                </div>
                <a href="" class="footer__logo">
                    <img src="img/logo4.png" alt="">
                </a>
            </div>
            <div class="footer__col">
                <div class="footer__title">О салоне</div>
                <div class="footer__links">
                    <a href="" class="footer__link">Услуги и цены</a>
                    <a href="" class="footer__link">Мастера</a>
                    <a href="" class="footer__link">Акции и скидки</a>
                    <a href="" class="footer__link">Подарочные сертификаты</a>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__title">разное</div>
                <div class="footer__links">
                    <a href="" class="footer__link">Контакты</a>
                    <a href="" class="footer__link">Статьи</a>
                    <a href="" class="footer__link">Обучение</a>
                    <a href="" class="footer__link">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="footer__col">
                <div class="footer__title">обратная связь</div>
                <form action="" class="consult__form">
                    <fieldset class="form-group">
                        <input type="text" placeholder="Ваше имя">
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="text" placeholder="Ваш телефон">
                    </fieldset>
                    <button class="consult__btn btn">Получить консультацию</button>
                </form>
            </div>
        </div>
        <div class="footer-mob">
            <a href="" class="footer-mob__logo">
                <img src="img/logo.png" alt="">
            </a>
            <div class="footer-mob__links">
                <a href="" class="footer-mob__link">Политика конфиденциальности</a>
                <a href="" class="footer-mob__link">Салон красоты Fiolet © 2022 – Все права защищены</a>
            </div>
        </div>
    </div>
</footer>