<header class='header'>
    <div class='container'>
        <div class='header__inner'>
            <a href="" class="header__logo">
                <img src="img/logo.png" alt="">
            </a>
            <button class="header__burger"></button>
            <div class="header__address">
                <i class="header__address-icon">
                    <img src="img/location.png" alt="">
                </i>
                <span>г. Санкт-Петербург, метро «Чкаловская»
                    ул. Большая Зеленина, 13</span>
            </div>
            <div class="header__mob">
                <nav class="nav">
                    <a href="" class="nav__link">Главная</a>
                    <a href="" class="nav__link">Услуги и цены</a>
                    <a href="" class="nav__link">Мастера</a>
                    <a href="" class="nav__link">Акции и скидки</a>
                    <a href="" class="nav__link">Сертификаты</a>
                    <a href="" class="nav__link">Обучение</a>
                    <a href="" class="nav__link">Статьи</a>
                    <a href="" class="nav__link">Контакты</a>
                </nav>
                <div class="header__socials">
                    <div class="header__socials-title">Быстрая связь с нами в мессенджерах</div>
                    <div class="header__socials-wrap">
                        <a href="" class="header__socials-item">
                            <img src="img/whatsapp.png" alt="">
                        </a>
                        <a href="" class="header__socials-item">
                            <img src="img/telegram.png" alt="">
                        </a>
                        <a href="" class="header__socials-item">
                            <img src="img/instagram.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="header__phone">
                <i class="header__phone-icon">
                    <img src="img/phone.png" alt="">
                </i>
                <div class="header__phone-content">
                    <a href="tel:89213849926" class="header__phone-link">8 (921) 384 99 26</a>
                    <div class="header__phone-hint">Ежедневно с 10:00 − 20:00</div>
                </div>
            </div>
        </div>
    </div>
</header>